@font-face {
  font-family: "NightmarePills";
  src: local("NightmarePills"),
    url("./fonts/NightmarePills-BV2w.ttf") format("ttf");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headerClass {
  font-family: "NightmarePills";
  font-size: 3.2em;
  line-height: 1.3;
}
